.hatnote-container {
    display: flex;
    align-items: center;
    padding: var( --space-sm ) var( --space-md );
    margin-top: var( --space-xs );
    margin-bottom: var( --space-md );
    background: var( --color-surface-2 );
    border-radius: var( --border-radius--medium );
    color: var( --color-base--subtle );
    font-size: var( --font-size-small );
    line-height: var( --line-height-xs );
}

.hatnote-icon img {
    width: var( --font-size-small );
    height: auto;
    margin-right: var( --space-xs );
    opacity: var( --opacity-icon-base );
    filter: var( --filter-invert );
}
