.template-navplate {
	margin-top: var( --space-md );
	clear: both;
	font-size: var( --font-size-small );
	line-height: var( --line-height-xx-small );
	border: 1px solid var( --border-color-base );
	border-radius: var( --border-radius-medium );
    overflow: hidden;
	user-select: none;
}

.template-navplate__header {
	padding: var( --space-sm ) var( --space-md );
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: var( --space-md );
	cursor: pointer;
	user-select: none;
}

.template-navplate[ open ] .template-navplate__header {
	background-color: var( --color-surface-1 );
}

.template-navplate .template-navplate__header:hover {
	background-color: var( --background-color-button-quiet--hover );
}

.template-navplate__subtitle,
.template-navplate-item__label {
	color: var( --color-subtle );
}

.template-navplate-item__label {
	font-weight: var( --font-weight-medium );
}

.template-navplate__title {
	color: var( --color-emphasized );
	font-weight: var( --font-weight-semi-bold );
	font-size: var( --font-size-medium );
}

.template-navplate__content {
	border-top: var( --border-base );
	content-visibility: auto;
}

.template-navplate__groupheader {
	background-color: var( --color-surface-1 );
	padding: var( --space-xs ) var( --space-md );
}

.template-navplate-item {
	display: grid;
}

.template-navplate-item__label {
	display: flex;
	padding: var( --space-sm ) var( --space-md ) 0 var( --space-md );
	gap: var( --space-xs );
}

.template-navplate-item__label img {
	opacity: var( --opacity-icon-base );
    filter: var( --filter-invert );
}

.template-navplate-item__list {
	padding: 10px; /* 10px + 2px = space-sm; 10px + 6px = space-md */
}

.template-navplate-item__list a {
	display: inline-block;
	padding: 2px 6px;
}

.template-navplate__content > div + div {
	border-top: var( --border-base );
}

.template-navplate__header .mw-ui-icon-wikimedia-collapse {
	--transform-rotate-collapse: rotate3d(1, 0, 0, 180deg);
	width: var( --font-size-small );
	height: var( --font-size-small );
	transition: var( --transition-hover );
	transition-property: transform;
	transform: var( --transform-rotate-collapse );
}

.template-navplate[ open ] .template-navplate__header .mw-ui-icon-wikimedia-collapse {
	transform: none;
}

@media only screen and ( min-width: 640px ) {
	.template-navplate-item {
		grid-template-columns: 180px auto;
	}

	.template-navplate-item__label {
		border-right: 1px solid var( --border-color-base );
		padding-bottom: var( --space-sm );
	}
}
