.documentation {
    margin-top: var( --space-md );
    padding-top: var( --space-md );
    border-top: 1px solid;
    border-color: var( --border-color-base );
    font-size: var( --font-size-small );
}

.documentation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.documentation-title {
    color: var( --color-base--emphasized );
    font-size: var( --font-size-x-large );
    font-weight: var( --font-weight-semibold );
    line-height: var( --line-height-xs );
}

.documentation-links {
    font-family: var( --font-family-monospace );
}

.documentation-subheader {
    color: var( --color-base--subtle );
    font-size: var( --font-size-x-small );
    line-height: var( --line-height-sm );
}

.documentation-content {
    margin-top: var( --space-xl );
}

.documentation-modulestats {
    padding: var( --space-xxs );
    background: var( --color-surface-2 );
    border-radius: var( --border-radius--medium );
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documentation-modulestats .wikitable {
    margin: 0;
}
